#App {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0;
}

body {
  background: #282c34;
  color: white;
  text-align: justify;
  padding: 0px;
  margin: 0px;
}

body p {
  margin: 20px;
}

#header {
  text-align:center;
  color: white;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background: #101216;
}

::-webkit-scrollbar-thumb {
  background: #1d1f24;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#subheader {
  text-align: center;
}

#work-content {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  padding: 5px;
}

#work-content-children {
  background-color: #1c252d;
  width: 300px;
  height: 300px;
  padding: 10px;
  margin: 10px;
}

h1 {
  margin: 0;
}

#card-url {
  color: white;
}