#App {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0;
}

body {
  background: #282c34;
  color: white;
  text-align: justify;
  padding: 0px;
  margin: 0px;
}

body p {
  margin: 20px;
}

#header {
  text-align:center;
  color: white;
}

::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #101216;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d1f24;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}