nav ul {
    background: #20232b;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;
}

nav ul li {
    list-style-type: none;
    float: left;
}

nav ul li a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

nav ul li:hover {
    background-color: #111;
}

nav ul li:last-child {
    float: right;
}

nav ul li a svg {
    fill: white;
    padding-left: 5px;
    height: 20px;
    width: 20px;
}